<!DOCTYPE html>
<html lang=en-US>
    <head>
        <title>{{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/assets/libs/bootstrap/bootstrap.min.css">
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
        <script defer src="/assets/libs/fontawesome/all.min.js"></script>
    </head>
    <body>
        <div class="col-lg-5 mx-auto p-3 py-md-5">
            {% include header.html %}
            <div class="wrapper">
                {{ content }}
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>